<div class="row">
    @foreach (var director in Model)
    {
    <div class="col-md-auto col-sm-auto col-lg-auto col-xl-auto">
        <div class="card" style="width: 8rem;">
            <img src="@director.ImageUrl" class="card-img-top" alt="@director.Name">
            <div class="card-body text-center">
                <a asp-controller="Directors" asp-action="Details" asp-route-id="@director.Id"><h5 class="card-title text-dark">@director.Name</h5></a>
            </div>
        </div>
    </div>
    }
</div>