@model IEnumerable<MovieServiceModel>

@{
    ViewData["Title"] = "Watchlist";
}

<div class="row">
    <div class="mb-4">
        <h1>Watchlist</h1>
    </div>
    @if (Model.Any())
    {
        <partial name="_MovieListingPartial" model="@Model" />
    }
    else
    {
<div class="row">
    <div class="text-center ">
        <h4>Your watchlist is empty. You can add movies from here</h4>
    </div>
    <div class="text-center">
        <a class="btn btn-primary" asp-controller="Movies" asp-action="All">+</a>
    </div>
</div>
    }
</div>