@model IEnumerable<MovieServiceModel>

@{ ViewData["Title"] = "Welcome"; }

<div class="row">
    <div class="mb-4">
        <h3>Last Released</h3>
    </div>
    <partial name="_MovieListingPartial" model="@Model" />
</div>


